# Example .gitignore
*.log
*.tmp
*.lnk
node_modules/
.DS_Store
__pycache__/
*.exe
*.tmp
*.docx
*.ini
# Ignore specific directories
../13 Hours The Secret Soldiers Of Benghazi (2016) [YTS.AG]/
../Anime/
../Bleach Complete Series + Movies/
../Guy.Ritchies.The.Covenant.2023.720p.AMZN.WEBRip.800MB.x264-GalaxyRG[TGx]/
../Movies and Series/

# Ignore specific files
../HTML Practice.html
        13 Hours The Secret Soldiers Of Benghazi (2016) [YTS.AG]/
        Anime/
        Bleach Complete Series + Movies/
        Guy.Ritchies.The.Covenant.2023.720p.AMZN.WEBRip.800MB.x264-GalaxyRG[TGx]/
        HTML Practice.html
        HTML/
        Movies and Series/

